body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 1px solid black;
    background-color: cornflowerblue;
    padding: 12px;
}

.header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li{
    padding: 10px;
    margin-left: 10px;
}

.header a{
    color:aliceblue;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.header a:hover{
    color:blueviolet;
}
.header a:active, a.active{
    border-bottom: 4px solid #95bcf0;
}

