.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.profile-container {
    max-width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-picture {
    margin-right: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-section {
    text-align: center;
    margin-top: 10px;
}

.file-input-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.file-input-label:hover {
    background-color: #0056b3;
}


#uploadImage {
    display: none;
}

.submit-button {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 12px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.profile-details {
    flex-grow: 1;
    margin-bottom: 44px;
}

.profile-name,
.profile-email {
    font-size: 20px;
    margin-bottom: 10px;
}