.users-table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 290px;
}

.users-table th,
.users-table td {
    padding: 10px;
    text-align: left;
}

.users-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.users-table td {
    border-bottom: 1px solid #ccc;
}

.no-data-found {
    text-align: center;
    font-size: 44px;
    color: black;
}

.action-link {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
}

.action-link:hover {
    background-color: #0056b3;
}




/* Container for FROM and TO inputs */
.date {
    margin: 20px 0;
    margin-left: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-items: center;

}

/* Label for date inputs */
label {
    margin-right: 10px;
    font-weight: bold;
}

/* Style the date inputs */
input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

/* Filter button */
button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}

button:hover {
    background-color: #0056b3;
}