.parent{
    width: 100vw;
    height: 100vh;                   /* We can also use Grid alternatively. (align-items: center; Not Needed in Grid */
    display: flex;                  /* display: grid; */
    justify-content: center;       /* place-items: center */
    align-items: center;
    text-align: center;
    
}

.child{
    width: 30vw;
    height: 60vh;
    border: 1px solid black;
}

.heading {
    font-size: 60px;
    background-color: #1976D2;
  }